.header0{
    background-color: #FF204E;
    padding: 35px;
    text-align: center;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF204E;
  }
  
li {
    float: left;
  }
  
li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #fa5f5f;
  }
  
  .active {
    background-color: #FF204E;
  }